centip3.de/kanboard_plugins
traefik2/acme/
traefik2/traefik.log
centip3.de/kanboard_data
nextcloud/
mariadb/data/
sites/wordpress
vscode/
secrets/
authelia/users_database.yml
authelia/notifications.txt
authelia/db.sqlite3
redis
mail/mailserver.env
shared/
.env
